html,
body,
#cover{
    height: 100%;
}

#cover{
    background-color:dimgrey;
    background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
}

.fixed-top {
    max-width: 1140px;
    margin: 20px auto;
    transition: 0.2s all linear;
    
}

h1 {
    margin-top: 20%;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-style: italic;
    margin-bottom: 30px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 30px;
}

.btn-warning {
    background-color: #fed136;
    border-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 20px 40px;
}

.btn-warning:hover {
    background-color: #ffffff;
    color: #fed136;
}

a.navbar-brand {
    color: #fed136 ! important;
}

a.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #ffffff ! important;
    transition: :color 0.5s ease;
    -webkit-transition: :color 0.5s ease;
    -mox-transition: :color 0.5s ease;
    -o-transition: :color 0.5s ease;
}

a.nav-link:hover {
     color: #fed136 ! important;

}

/* Section Services */

#services {
    padding: 120px 0;
  
}

.services-top h3, .portfolio-top h3, .aboutUs-top h3 {
    font-family: 'Montserrat', sans-serif;
     font-size: 40px;
    font-weight: 700;
}

.services-top p, .portfolio-top p, .aboutUs-top p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #777;
    margin-bottom: 70px;
}

.item-circle {
    border: 3px solid #fed136;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 200px;
    
    
}

.services-content i {
    color: #fed136;
    line-height: 100px;

}

.services-content h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #222;
    margin-top: 24px;
    
}

.services-content p {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #777;
}

#portfolio {
    background-color: #f7f7f7;
    padding-top: 120px;
    padding-bottom: 70px;
    
  
}

<!--.portfolio-top {
    text-align: center;
}-->

<!--.portfolio-top h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
}-->

.card {
    border-style: none;
}

.portfolio-content .row {
    margin-bottom: 50px;
}

.portfolio-content .card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.portfolio-content .card-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: italic;
    
}

 #aboutUs {
   
     padding-top: 120px;
     padding-bottom: 30px;
}

.aboutUs-content .row {
    margin-bottom: 90px;
}

.aboutUs-content h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
   
    
}

.aboutUs-content p {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #777;
}

.aboutUs-content {
    position: relative;
}

.aboutUs-content:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 4px;
    background-color: #f1f1f1;
    left: 50%;
    margin-left: -2px;
}

.about-circle {
    position: relative;
    text-align: center;
}

.about-circle:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 176px;
    height: 176px;
    background-color: #fed136;
    border-radius: 176px;
    border: 7px solid #f1f1f1;
    left: 50%;
    margin-left: -91.5px;
}

.about-circle .yellow-text {
    position: relative;
    z-index: 1;
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
   
}

#team {
    padding-top: 120px;
    padding-bottom: 70px;
    background-color: #f9f9f9;
    
}

.team-top h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.team-top p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #777;
    margin-bottom: 70px;
}

.team-circle {
   
    width: 220px;
    height: 220px;
    background-color: black;
    border-radius: 220px;
    margin: 0 auto;
    border: 6px solid #fff;
    margin-bottom: 20px;
    
}

.team-content h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.team-content h5 {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #777;
}

.social-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-icon {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

.social-icon .fa {
    border: 2px solid #000;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    line-height: 26px;
}

.team-content p {
    margin: 50px auto;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #777;
}

#partner {
    padding: 60px 0;
}

#contact {
    background-color:black;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 120px 0;
   
}

.contact-top h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
}

.contact-top p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #777;
    margin-bottom: 70px;
}

#name, #email, #subject {
    width: 90%;
    height: 50px;
    margin-bottom: 26px;
    border-style: none;
    border-radius: 3px;
    padding-left: 20px;
    margin-left: 5%;
    
} 

textarea {
    width: 90%;
    height: 203px;
    border-style: none;
    border-radius: 3px;
    padding-left: 20px;
    padding-top: 15px;
    margin-left: 5%;
  
}

.contact-form-element {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    
}

#footer {
    padding: 20px 0;
    
}

.footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #555555;
    line-height: 40px;
}

.company-social-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.company-social-icon {
    display: inline;
    padding-left: 9px;
    padding-right: 9px;
    color: #fff;
    
}

.company-social-icon .fa {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: black;
    line-height: 40px;
   
    
    
}

.fixed-top.change-fix-top {
    margin-top: 0;
    background-color: #000;
    max-width: 2000px;
    
    
}
